@*@using Microsoft.AspNetCore.Http*@
@*@using QLThe.Utilities*@
@*@inject IHttpContextAccessor HttpContextAccessor*@

<ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user">Welcome - @Session["hoten"]!</i>
        </a>

        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink">
            <div class="container">
                <a href="@Url.Action("changepass", "Accounts", new { strUrl = Url.RouteUrl(ViewContext.RouteData.Values)})" class="dropdown-item">Change password</a>
                <a href="/Accounts/Logout" class="dropdown-item">Logout</a>

            </div>
        </div>
    </li>

</ul>