
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 class="text-danger">AccessDenied</h2>
    <h5 class="text-danger">You do not have persmission to view this resource</h5>
    <a href="/Home/Index">
        Click here to navigate to home page
    </a>
</div>

