
@{
    ViewData["Title"] = "Not Found";
}

    <div class="container">
        <h1 class="text-danger">@ViewBag.ErrorMessage</h1>
        <a href="/Home/Index">
            Click here to navigate to home page
        </a>
    </div>