@{
    ViewBag.Title = "Home Page";
}

<body ng-app="app">
    <div ng-controller="PieCtrl">
        <canvas id="pie" class="chart chart-pie"
                chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>

    </div>
</body>
@section Scripts{
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>*@

    <script src="~/Assets/lib/angular.js/angular.js"></script>
    <script src="~/Assets/lib/Chart.js/Chart.js"></script>
    <script src="~/Assets/lib/Chart.js/Chart.bundle.js"></script>
    <script src="~/Assets/lib/angular-chart.js/angular-chart.js"></script>
    <script src="~/Assets/js/Home/homeController.js"></script>
    <script>
                            //angular.module("app", ["chart.js"]).controller("PieCtrl", function ($scope) {
                            //    $scope.labels = ["Download Sales", "In-Store Sales", "Mail-Order Sales"];
                            //    $scope.data = [300, 500, 100];

                            //});
                            //angular.element(document).ready(function () {
                            //    angular.bootstrap(document, ['app']);
                            //});
                                                                //angular.module('app', ['chart.js']);

                                                                //angular.module('app')
                                                                //    .controller('PieCtrl', function ($scope) {
                                                                //        $scope.labels = ["Download Sales", "In-Store Sales", "Mail-Order Sales"];
                                                                //        //$scope.series = ['Series A', 'Series B'];
                                                                //        $scope.data = [300, 500, 100];
                                                                //        //$scope.onClick = function (points, evt) {
                                                                //        //    console.log(points, evt);
                                                                //        //};

                                                                //        //// Simulate async data update
                                                                //        //$timeout(function () {
                                                                //        //    $scope.data = [
                                                                //        //        [28, 48, 40, 19, 86, 27, 90],
                                                                //        //        [65, 59, 80, 81, 56, 55, 40]
                                                                //        //    ];
                                                                //        //}, 3000);
                                                                //    });

                                                                //angular.element(document).ready(function () {
                                                                //    angular.bootstrap(document, ['app']);
                                                                //});
    </script>
}
